*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ECA400;
    text-align: center;   
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.cell{
    background-color: #EAF8BF;
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    color: #14213D;
    font-size: 4rem;
}
#reset{
    margin: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: #E5E5E5;
    border-radius: 1rem;
    border: none;
}
.win{
    background-color: rgb(123, 236, 123);
}
.msgcontainer{
    height: 20vmin;
}
.msgcontainer p{
    font-size: 2rem;
    color: #14213D;
    font-weight: bold;
    font-size: 5vmin;
}
.hide{
    display: none;
}
#newGame{
    margin: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: #E5E5E5;
    border-radius: 1rem;
    border: none;
}